{% load static %}

<div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/category-1.jpg' %} ">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-2.jpg' %} ">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-3.jpg' %} ">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title"> Featured Product</h2>
        
        <div class="row">
            {% for product in featured_product %}
            <div class="col-4">
                <a href="{% url 'product_details' product.id %}"><img src="{{ product.image.url }}"></a>
                <h4>{{ product.title }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{product.price}}</p>
            </div>
            {% endfor %}
            
        </div> 
        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for product in latest_product %}
            <div class="col-4">
                <a href=" {% url 'product_details' product.id %} "><img src="{{ product.image.url }} "></a>
                <h4>{{ product.title }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{ product.price }}</p>
            </div>
            {% endfor %}
        </div>
        
    </div>