{% load static %}
{% load chunks %}

<div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <!-- <select>
                <option>Default Sort</option>
                <option>Sort By Price</option>
                <option>Sort By Popularity</option>
                <option>Sort By Rating</option>
                <option>Sort By Sale</option>
            </select> -->
        </div>
        {% for product_chunks in product|chunks:4 %}

        <div class="row">
            {% for product in product_chunks %}
            <div class="col-4">
                <a href="{% url 'product_details' %}"><img src="{{ product.image.url }}"></a>
                <h4>{{ product.title }}</h4>
                
                <p>{{product.price}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        
        <div class="page-btn">
            {% if product.has_previous %}
            <a href="?page={{product.previous_page_number}}"><span><<</span></a>
            {% endif %}
            {% for i in product.paginator.page_range %}
            <a href="?page={{i}}"><span>{{i}}</span></a>
           {% endfor %}
           {% if product.has_next %}
           <a href="?page={{product.next_page_number}}"><span>>></span></a>
           {% endif %}
        </div>
    </div>